//====================================================================================================
.hero {
	position: relative;
	@include adaptiveValue("padding-top", 110, 80, 0, 1280, 1024);
	@include adaptiveValue("padding-bottom", 120, 60, 0, 1280, 1024);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 56%;
		height: 77%;
		background-color: #f6f7fb;
		border-radius: 0 0 0 rem(30);
		@media (max-width: $mobile) {
			width: 63%;
			height: 100%;
		}
	}
	@media (max-width: $tablet) {
		@include adaptiveValue("padding-top", 80, 30, 0, 992, 480);
		@include adaptiveValue("padding-bottom", 60, 30, 0, 992, 480);
	}
	// .hero__container
	&__container {
		position: relative;
	}
	// .hero__info
	&__info {
		position: relative;
		z-index: 5;
		width: 100%;
		// max-width: rem(670);
		@include adaptiveValue("max-width", 670, 630, 0, 1280, 1024);
		@media (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}
	// .hero__title
	&__title {
		max-width: rem(500);
		font-weight: 500;
		font-size: rem(60);
		line-height: 120%;
		@include adaptiveValue("margin-bottom", 60, 50, 0, 1280, 1024);
		@include adaptiveValue("font-size", 60, 36, 0, 1024, 480);
		span {
			display: inline-block;
			padding: rem(10) rem(20);
			color: $themeColor;
			background-color: #ebfae8;
			border-radius: rem(6);
			@include adaptiveValue("margin-top", 30, 20, 0, 1280, 1024);
			@include adaptiveValue("font-size", 30, 20, 0, 1024, 480);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("margin-bottom", 50, 30, 0, 768, 480);
		}
	}
	// .hero__list
	&__list {
		display: flex;
		align-items: flex-start;
		row-gap: rem(25);
		margin-bottom: rem(50);
		// flex-basis: rem(630);
		// flex-wrap: wrap;
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(30);
		}
	}
	// .hero__item
	&__item {
		max-width: rem(220);

		&:not(:last-child) {
			margin-right: rem(25);
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-right: rem(16);
			}
		}
	}
	// .hero__icon
	&__icon {
		position: relative;
		display: inline-block;
		margin-bottom: rem(20);
		&::after {
			content: "";
			position: absolute;
			top: 26%;
			left: 29%;
			// transform: translate(-50%, -50%);
			width: rem(40);
			height: rem(40);
			border-radius: 50%;
			background-color: #f5f6fa;
			z-index: -1;
		}
	}
	// .hero__text
	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 160%;
		// max-width: rem(210);
		@media (max-width: $mobileSmall) {
			font-size: rem(14);
		}
	}
	// .hero__btn
	&__btn {
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .hero__image-ibg
	&__image-ibg {
		z-index: 1;
		position: absolute;
		top: -12%;
		right: rem(15);
		width: percent(654, 1180);
		padding-bottom: percent(530, 1180);
		@media (max-width: em(1024)) {
			// position: relative;
			top: 0;
			width: percent(440, 1024);
			padding-bottom: percent(357, 1024);
		}
		@media (max-width: $mobile) {
			position: relative;
			margin: 0 auto;
			right: auto;
			width: 80%;
			padding-bottom: 65%;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
			padding-bottom: 82%;
		}
	}
}
.button {
}
//====================================================================================================
